<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	 http://www.springframework.org/schema/beans/spring-beans.xsd
	
	" default-lazy-init="true">

	

<!-- 注意，属性注入不能 java.util.Properties对象，虽然Properties也是Map接口，否则无法识别
		正确方式应该使用java.util.HashMap方式才能注入值
 -->
	
	
	
</beans>
